/*!
 * My project own CSS
 */

body {
  font-family: $ff;
  font-weight: 700;
  font-size: 16px;
  line-height: em(22px);
  color: $text-light;

  background-color: $body-bg__1;
}

h3 {
  color: $text-light;
}

.visually-hidden {
  @include vh();
}

.page-title {
  margin-bottom: rem(20px);

  font-size: rem(35px);
  line-height: em(41px, 35);
  color: $text-light;

  @include break('s', max) {
    font-size: 1.8rem;
  }
}
