/*
 |--------------------------------------------------------------------------
 |  Wrapper
 |--------------------------------------------------------------------------
 */

// .o-wrapper {
//   padding-left: sp(2);
//   padding-right: sp(2);
//   margin-right: auto;
//   margin-left: auto;
//   max-width: $bk-maxWidth;
// }

// // Size variants
// .o-wrapper--small {
//   padding-left: sp(4);
//   padding-right: sp(4);
// }

// .o-wrapper--large {
//   padding-left: sp(6);
//   padding-right: sp(6);
// }

// .o-wrapper--huge {
//   padding-left: sp(8);
//   padding-right: sp(8);
// }

.page-wrapper {
  position: relative;

  width: 100%;
  height: auto;

  background-color: #849d8f;
  background-repeat: no-repeat;
  background-position: center top;
  overflow: hidden;

  transition: background-image 0.5s ease('out-back'), background-color 0.5s ease('out-back');

  &::before,
  &::after {
    content: "";
    visibility: hidden;
  }

  &::before {
    background-image: url('../img/bitmaps/icecreams-second.png');
  }

  &::after {
    background-image: url('../img/bitmaps/icecreams-third.png');
  }
}

.inner-page {
  background-image: linear-gradient(to bottom, #9cb0a5 1%, #849d8f 40%);
}

.content-wrapper {
  padding-left: 2%;
  padding-right: 2%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  min-width: 320px;
}
