/*
 |--------------------------------------------------------------------------
 |  Font Sizes
 |--------------------------------------------------------------------------
 */
// Dependencies
@import '../../../../node_modules/modularscale-sass/stylesheets/modularscale';

// Settings
$bk-baseFontSizePx: 16px;
$bk-baseFontSizeMaxPx: 19px;
$bk-baseLineHeight: 1.5;
