.basket {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 10px;
  }

  $hpw: '.header__popup-wrap';

  &:hover #{$hpw},
  &:focus #{$hpw} {
    opacity: 1;
    transform: translate(0, 0);
    transition: all 0.25s ease('out-cubic');
    z-index: 200;
  }
}

.basket-table {
  padding: rem(20px) rem(15px);
  width: 540px;

  font-size: rem(13px);
  line-height: em(16px, 13);
  font-weight: 400;
  color: $text-dark;

  background-color: $modal-bg;
  border-radius: em(3px, 13);
  border-collapse: separate;
  box-shadow: $modal-box-shadow;

  cursor: default;
  z-index: 200;

  @include break('sm', max) {
    padding: 0.8rem 0.5rem;
    width: 310px;
    font-size: 0.6rem;
  }

  &__btn {
    display: inline-block;
    vertical-align: top;
    position: relative;

    width: 14px;
    height: 14px;

    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 50% 50%;

    box-shadow: none;
    border: 0;
    cursor: pointer;
    outline: none;

    &--remove {
      background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='11' viewBox='0 0 11 11'%3E%3Cpath fill='%23231F20' d='M10.979.728l-.708-.707L5.5 4.792.729.021.021.728 4.793 5.5.021 10.271l.707.708L5.5 6.207l4.771 4.772.708-.708L6.207 5.5z'/%3E%3C/svg%3E");
    }

    &:hover,
    &:focus {
      transform: rotate(360deg);
      transition: all 0.45s ease('out-cubic');
    }
  }

  &__item {
    &--total {
      text-align: right;
    }

    &--total td {
      padding: 0;
      text-align: right;
    }
  }

  &__col {
    margin: 0;
    padding: 0;
    padding-bottom: rem(15px);
    vertical-align: middle;

    &--control {
      text-align: center;

      @include break('sm', max) {
        padding-right: rem(5px);
      }
    }

    &--preview {
      text-align: center;
    }

    &--preview img {
      display: inline-block;
      vertical-align: top;

      @include break('sm', max) {
        width: 25px;
        height: 25px;
      }
    }

    &--label {
      padding-top: rem(10px);
      width: 220px;
      vertical-align: top;

      @include break('sm', max) {
        padding-left: rem(5px);
        width: 180px;
      }
    }

    &--price {
      width: 145px;
      text-align: center;
    }
  }

  &__link {
    color: $text-dark;

    &:hover,
    &:focus,
    &:active {
      color: $btn-bg;
    }

    &:hover &-content,
    &:focus &-content,
    &:active &-content {
      border-bottom: 1px solid rgba(232, 76, 55, 0.3);
    }
  }

  &__price {
    color: #999;
  }

  &__total {
    padding: em(15px, 15) 0;
    margin-bottom: rem(15px);

    font-size: rem(15px);
    line-height: em(18px, 15);
    font-style: normal;
    font-weight: 700;

    border-top: 1px solid #cacac7;

    @include break('sm', max) {
      margin-bottom: 0.6rem;
      font-size: 0.8rem;
    }
  }

  &__buy {
    padding: em(10px, 18) rem(15px);
    font-weight: 700;
    line-height: em(24px, 18);

    @include break('sm', max) {
      font-size: 0.9rem;
    }
  }
}
