.promo-slider {
  position: relative;
  padding-top: rem(310px);
  padding-bottom: rem(40px);

  @include break(710px, max) {
    padding-top: rem(406px);
  }
  @include break(600px, max) {
    padding-top: rem(374px);
  }
  @include break(500px, max) {
    padding-top: rem(342px);
  }
  @include break(450px, max) {
    padding-top: rem(294px);
  }
  @include break(400px, max) {
    padding-top: rem(264px);
  }
  @include break(370px, max) {
    padding-top: rem(248px);
  }
  @include break(345px, max) {
    padding-top: rem(232px);
  }
  @include break(325px, max) {
    padding-top: rem(220px);
  }

  &__slides {
    max-height: 215px;
  }

  &__slide {
    display: none;
    position: relative;
    text-align: center;
    transition: all 0.25s e('out-cubic');

    @include break('sm', max) {
      margin-bottom: rem(30px);
    }
  }

  &__title {
    display: block;

    margin: 0px auto rem(30px);

    width: 675px;

    font-size: rem(60px);
    line-height: em(60.35px, 60);
    font-weight: 700;

    text-align: center;

    @include break(712px, max) {
      width: 90%;
      font-size: 2.75rem;
    }

    @include break(568px, max) {
      font-size: 1.75rem;
    }

    @include break(380px, max) {
      font-size: 1.5rem;
    }
  }

  &__controls {
    position: absolute;
    padding: 0 rem(25px);

    bottom: 45px;
    left: 0;

    z-index: 120;

    @include break('sm', max) {
      bottom: 25px;
    }

    & label {
      display: inline-block;
      vertical-align: top;

      margin-right: rem(8px);

      width: 21px;
      height: 21px;

      background-color: transparent;
      border: 2px solid #fff;
      border-radius: 50%;
      cursor: pointer;

      transition: all 0.15s e('in-cubic');
    }

    & label:hover,
    & label:focus {
      background-color: rgba(255, 255, 255, 0.4);
    }

    & label:active {
      background-color: #fff;
    }
  }

  &__btn {
    padding: em(17px, 32) em(43px, 32);
    font-size: rem(32px);
    line-height: em(32px, 32);
    font-weight: 700;
    border-radius: em(31px, 16);

    @include break(712px, max) {
      font-size: 1.75rem;
    }

    @include break('sm', max) {
      font-size: 1.5rem;
    }

    @include break(380px, max) {
      font-size: 1.25rem;
    }
  }
}

#btn-1:checked~.page-wrapper .promo-slider #promo-slide-1,
#btn-2:checked~.page-wrapper .promo-slider #promo-slide-2,
#btn-3:checked~.page-wrapper .promo-slider #promo-slide-3 {
  display: block;
}

#btn-1:checked~.page-wrapper .promo-slider label[for="btn-1"],
#btn-2:checked~.page-wrapper .promo-slider label[for="btn-2"],
#btn-3:checked~.page-wrapper .promo-slider label[for="btn-3"] {
  background-color: #fff;
}

#btn-1:checked~.page-wrapper {
  background-color: $body-bg__1;
  background-image: url("../img/bitmaps/icecreams-first.png");
}

#btn-2:checked~.page-wrapper {
  background-color: $body-bg__2;
  background-image: url("../img/bitmaps/icecreams-second.png");
}

#btn-3:checked~.page-wrapper {
  background-color: $body-bg__3;
  background-image: url("../img/bitmaps/icecreams-third.png");
}

#btn-1:checked~.page-wrapper,
#btn-2:checked~.page-wrapper,
#btn-3:checked~.page-wrapper {
  background-repeat: no-repeat;
  background-position: center top;

  @include break(650px, max) {
    background-size: 160%;
    background-position: center 10px;
  }

  @include break('s', max) {
    background-position: center 25px;
  }
}

@include break(710px, max) {
  #btn-1:checked~.page-wrapper .content-wrapper .header {
    background-color: $body-bg__1;
  }

  #btn-2:checked~.page-wrapper .content-wrapper .header {
    background-color: $body-bg__2;
  }

  #btn-3:checked~.page-wrapper .content-wrapper .header {
    background-color: $body-bg__3;
  }
}
