.menu-button {
  display: none;
  position: relative;

  margin: 0 rem(10px);
  padding: 0;

  width: 1.25em;
  height: 1em;

  text-indent: 1.25em;
  font-size: 1.5em;
  color: transparent;

  background: transparent;
  border: 0;

  outline: none;
  z-index: 199;

  &::before {
    content: '';
    position: absolute;
    top: -0.2em;
    right: 0;
    bottom: 0.2em;
    left: 0;
    background: linear-gradient(#fff 20%, transparent 20%, transparent 40%, #fff 40%, #fff 60%, transparent 60%, transparent 80%, #fff 80%);
  }

  &:hover {
    opacity: 0.6;
  }

  @include break(710px, max) {
    display: inline-block;
  }
}

.close-button {
  display: none;
  position: fixed;
  left: 245px;
  top: 1em;

  width: 24px;
  height: 24px;

  border: 0;
  background: transparent;
  color: transparent;

  overflow: hidden;
  outline: none;
  z-index: 1001;

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;

    width: 2px;
    height: 100%;

    background: #fff;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

  @include break(710px, max) {
    display: inline-block;
  }
}

.menu-wrap {
  display: none;
  position: fixed;

  width: 280px;
  height: 100vh;

  font-size: 1.15em;

  transform: translate3d(-280px, 0, 0);
  transition: transform 0.4s;
  z-index: 1001;

  @include break(710px, max) {
    display: block;
  }
}

.main-menu {
  display: none;
  flex-direction: column;
  position: relative;

  padding: 3em 2em 0;
  font-size: 1.25rem;
  z-index: 1000;

  @include break(710px, max) {
    display: flex;
  }

  &__item {
    margin-bottom: 1rem;
  }

  &__link {
    color: $text-light;

    &:hover,
    &:focus,
    &:active {
      color: #ffbc9e;
    }

    &:hover &-content,
    &:focus &-content,
    &:active &-content {
      border-bottom: 1px solid rgba(255, 189, 158, 0.3);
    }
  }

  &__link-content {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
}

.main-menu,
.close-button {
  opacity: 0;
  transform: translate3d(-160px, 0, 0);
  transition: opacity 0s 0.3s, transform 0s 0.3s;
  transition-timing-function: cubic-bezier(0.17, 0.67, 0.1, 1.27);
}

/* Morph Shape */
.morph-shape {
  display: none;
  position: fixed;
  top: 0;
  left: 0;

  width: 280px;
  height: 100vh;

  fill: $body-bg__1;
  z-index: 260;

  &--show {
    display: block;
  }
}

/* Shown menu */
.show-menu .menu-wrap {
  transition-delay: 0s;
}

.show-menu .menu-wrap,
.show-menu .main-menu,
.show-menu .close-button,
.show-menu .morph-shape {
  transform: translate3d(0, 0, 0);
}

.show-menu .main-menu,
.show-menu .close-button {
  opacity: 1;
  transition: opacity 0.3s, transform 0.3s;
  transition-delay: 0.4s;
}
