.breadcrumbs {
  display: flex;

  margin-top: rem(20px);
  margin-bottom: rem(12px);
  padding: 0;

  list-style: none;

  &__item {
    display: inline-block;

    margin-right: rem(8px);

    font-size: em(14px);
    font-weight: 400;
    line-height: em(16px, 14);

    &::after {
      content: '\226b';

      vertical-align: middle;

      margin-left: rem(8px);

      font-size: em(8px, 14);
    }

    &--current {
      font-size: em(14px);
      font-weight: 400;
      line-height: em(16px, 14);
      color: $text-light;
    }
  }

  &__item a {
    color: $text-light;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);

    &:hover,
    &:focus,
    &:active {
      color: #ffbc9e;
      border-bottom: 1px solid rgba(255, 189, 158, 0.3);
    }
  }
}
