.schedule {
  position: absolute;
  top: 90%;
  right: 0;
  text-align: right;

  @include break(710, max) {
    display: none;
  }

  &__time {
    font-size: rem(14px);
    line-height: em(16px, 14);
  }

  &__phone {
    padding: em(2px, 22) 0;
    font-size: rem(22px);
    line-height: em(24px, 22);
  }

  &__time,
  &__phone {
    margin-bottom: 0;
  }
}
