.contacts {
  position: relative;
  margin-bottom: rem(20px);

  max-width: 1200px;
  min-height: 430px;

  &__image {
    position: relative;
    margin-left: -2%;

    max-width: 104%;
    min-height: 430px;

    background-color: #ebe4c9;
    background-position: center top;
    background-size: cover;
  }

  &__map {
    display: block;
    position: absolute;

    top: 0;
    left: 50%;

    width: 104%;
    min-height: 430px;

    border: 0;
    transform: translateX(-50%);
  }

  &__address {
    position: absolute;

    top: 50%;
    right: 2.5%;

    width: 302px;
    height: 305px;

    padding: rem(31px) rem(25px);

    background-color: #fff;
    border-radius: 10px;
    color: $text-dark;

    z-index: 10;
    transform: translate(-2.5%, -50%);
    overflow: hidden;

    @include break('m', max) {
      right: 4%;
      transform: translate(-4%, -50%);
    }

    @include break('sm', max) {
      right: 10%;
      transform: translate(-10%, -50%);
    }

    @include break(400px, max) {
      right: 6%;
      transform: translate(-6%, -50%);
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    }

    @include break(360px, max) {
      right: 4%;
      transform: translate(-4%, -50%);
    }

    @include break(340px, max) {
      right: 1%;
      transform: translate(-1%, -50%);
    }

    p {
      font-size: em(14px);
      font-weight: 400;
      line-height: em(20px, 14);
    }

    strong {
      font-size: em(18px);
      font-weight: 700;
      line-height: em(24px, 18);

      &:last-child {
        line-height: em(22px, 18);
      }
    }
  }

  &__btn {
    width: 100%;
  }
}
