.promo-slider {
  position: relative;
  padding-top: rem(310px);
  padding-bottom: rem(40px);

  &__slides {
    max-height: 215px;
  }

  &__slide {
    display: none;
    position: relative;
    text-align: center;
    transition: all 0.25s e('out-cubic');
  }

  &__title {
    display: block;

    margin: 0px auto rem(30px);

    width: 675px;

    font-size: rem(60px);
    line-height: em(60.35px, 60);
    font-weight: 700;

    text-align: center;
  }

  &__controls {
    position: absolute;
    padding: 0 rem(25px);

    bottom: 45px;
    left: 0;

    z-index: 120;

    & label {
      display: inline-block;
      vertical-align: top;

      margin-right: rem(8px);

      width: 21px;
      height: 21px;

      background-color: transparent;
      border: 2px solid #fff;
      border-radius: 50%;
      cursor: pointer;

      transition: all 0.15s e('in-cubic');
    }

    & label:hover,
    & label:focus {
      background-color: rgba(255, 255, 255, 0.4);
    }

    & label:active {
      background-color: #fff;
    }
  }

  &__btn {
    padding: em(17px, 32) em(43px, 32);
    font-size: rem(32px);
    line-height: em(32px, 32);
    font-weight: 700;
    border-radius: em(31px, 16);
  }
}

#btn-1:checked~.page-wrapper .promo-slider #promo-slide-1,
#btn-2:checked~.page-wrapper .promo-slider #promo-slide-2,
#btn-3:checked~.page-wrapper .promo-slider #promo-slide-3 {
  display: block;
}

#btn-1:checked~.page-wrapper .promo-slider label[for="btn-1"],
#btn-2:checked~.page-wrapper .promo-slider label[for="btn-2"],
#btn-3:checked~.page-wrapper .promo-slider label[for="btn-3"] {
  background-color: #fff;
}

#btn-1:checked~.page-wrapper {
  background-color: $body-bg__1;
  background-image: url("../img/bitmaps/icecreams-first.png");
  background-repeat: no-repeat;
  background-position: center top;
}

#btn-2:checked~.page-wrapper {
  background-color: $body-bg__2;
  background-image: url("../img/bitmaps/icecreams-second.png");
  background-repeat: no-repeat;
  background-position: center top;
}

#btn-3:checked~.page-wrapper {
  background-color: $body-bg__3;
  background-image: url("../img/bitmaps/icecreams-third.png");
  background-repeat: no-repeat;
  background-position: center top;
}
