.site-nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  max-width: 400px;

  margin-left: rem(20px);

  &__item {
    position: relative;
    flex: 0 1 auto;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      height: 10px;
    }

    &--current {
      background-color: $menu-current;
      border-radius: 20px;
      color: $text-light;
    }

    &:hover,
    &:active {
      background-color: #f7f6f3;
      border-radius: 20px;
    }

    &:active {
      box-shadow: $nav-box-shadow;
    }

    &:hover .site-nav__popup-wrap {
      visibility: visible;
      opacity: 1;
      transform: translate(0, 0);
      transition: all 0.25s e('out-cubic');
      z-index: 100;
    }

    &:hover .site-nav__link,
    &:active .site-nav__link {
      color: #333;
    }
  }

  &__link {
    display: block;
    padding: rem(8px) rem(14px);
    color: $text-light;
    line-height: em(18px);
    text-align: center;

    &:hover,
    &:active {
      color: #333;
    }

    &:focus .site-nav__popup-wrap {
      visibility: visible;
      opacity: 1;
      transform: translate(0, 0);
      transition: all 0.25s e('out-cubic');
      z-index: 100;
    }

    &:hover .site-nav__link-content,
    &:active .site-nav__link-content {
      border-bottom: none;
    }
  }

  &__link-content {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);

    &--current {
      border-bottom: none;
    }
  }

  &__popup-wrap {
    position: absolute;

    top: 113%;
    left: 0;

    z-index: -1;
    opacity: 0;
    visibility: hidden;
    transform: translate(0, -10px);
    transition: all 0.25s e('out-cubic');

    &:hover {
      visibility: visible;
    }
  }

  &__popup {
    width: 143px;

    box-shadow: $modal-box-shadow;
    border-radius: 3px;
    background-color: $modal-bg;
    overflow: hidden;
  }

  &__popup-item {
    &:last-child .site-nav__popup-link {
      padding-bottom: rem(12px);
    }
  }

  &__popup-link {
    display: block;

    padding: em(7px, 14) rem(18px);
    padding-bottom: em(9px, 14);

    font-size: rem(14px);
    font-weight: 400;
    line-height: em(16px, 14);
    color: $text-dark;

    &--title {
      position: relative;

      margin: 0 rem(6px);
      padding: em(9px, 14) rem(12px);
      padding-bottom: em(12px, 14);

      font-weight: 700;

      border-bottom: 1px solid #d1d0ce;
      cursor: default;

      &:hover {
        color: $text-dark;
      }
    }

    &--current {
      color: $text-light;
      background-color: $menu-current;
      cursor: default;

      &:hover {
        color: $text-light;
      }
    }

    &:not(&--title):not(&--current):hover,
    &:not(&--title):not(&--current):focus {
      color: $text-dark;
      background-color: $menu-hover;
      cursor: pointer;
    }

    &:not(&--title):not(&--current):active {
      color: $text-dark;
      background-color: $menu-active;
    }
  }
}
