.widgets-wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;

  margin-bottom: 38px;
}

.news {
  flex-grow: 0;
  flex-shrink: 1;
  width: 48.8%;
  padding: 25px 20px;

  min-height: 220px;

  background-color: #fff;
  background-image: url('../img/bitmaps/strawberry-bg.jpg');
  background-repeat: no-repeat;
  background-position: 30% 50%;
  background-size: cover;
  border-radius: 10px;
  overflow: hidden;

  &__title {
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    color: $text-dark;
  }

  &__link {
    display: inline-block;
    max-width: 60%;
    font-size: 24px;
    line-height: 30px;
    color: $text-dark;

    &:hover,
    &:focus,
    &:active {
      color: $btn-bg;
    }

    &:hover .news__link-content,
    &:focus .news__link-content,
    &:active .news__link-content {
      border-bottom: 2px solid rgba(236, 89, 60, 0.3);
    }
  }

  &__link-content {
    border-bottom: 2px solid #000;
  }
}

.newsletter {
  position: relative;
  flex-grow: 0;
  flex-shrink: 1;
  width: 48.8%;
  min-height: 220px;

  padding: 30px 20px 35px;

  background-image: repeating-linear-gradient(-45deg, #fe9e90 5px, #fe9e90 10px, #f8f7f4 10px, #f8f7f4 15px, #92cdff 15px, #92cdff 20px, #f8f7f4 20px, #f8f7f4 25px);
  border-radius: 10px;
  overflow: hidden;
  z-index: 1;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    margin: 5px 7px;
    border-radius: inherit;
    background-color: $modal-bg;
  }

  &__content {
    position: relative;
    font-weight: 400;
    color: #5a5a5a;
    z-index: 3;
  }

  &__form {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    z-index: 3;
  }

  & input {
    flex: 1 1 auto;

    margin-right: 10px;

    min-width: 210px;

    &:hover {
      transition: all 0.01s ease('out-cubic');
    }
  }

  &__btn {
    flex: 0 1 auto;
    padding: 12px 19px;
  }
}
