.promo-cards {
  margin-bottom: rem(40px);

  &__items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    margin-top: rem(5px);
  }

  &__item {
    position: relative;
    flex: 0 1 auto;

    padding: rem(23px) rem(20px);

    width: 48.86%;
    min-height: 229px;

    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;

    @include break(780px, max) {
      width: 100%;
    }

    h3 {
      margin-bottom: rem(20px);
      font-size: rem(35px);

      @include break(382px, max) {
        font-size: 1.8rem;
      }

      line-height: em(41px, 35);
    }

    p {
      margin-bottom: rem(45px);
      font-size: rem(18px);

      @include break(382px, max) {
        margin-bottom: rem(55px);
        font-size: rem(16px);
      }
    }

    &--raspberry {
      @include break(780px, max) {
        margin-bottom: rem(20px);
      }

      background-color: #ac3030;
      background-image: url('../img/bitmaps/raspberry-bg.jpg');
    }

    &--chocolate {
      background-color: #6d4614;
      background-image: url('../img/bitmaps/chocolate-bg.jpg');
    }
  }

  &__btn {
    position: absolute;
    bottom: 20px;
    right: 20px;
    opacity: 0.99;
  }
}
