.products {
  &__items {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    margin-bottom: 38px;
  }

  &__item {
    position: relative;

    width: 100%;
    max-width: 267px;
    @include break(1135px, max) {
      max-width: 240px;
    }
    @include break(1040px, max) {
      max-width: 210px;
    }

    text-align: center;
    transition: all 0.25s e('out-cubic');

    &:hover {
      margin-bottom: -30px;
      padding-bottom: 68px;

      z-index: 10;

      &::after {
        content: '';
        display: block;
        position: absolute;

        top: 50%;
        left: 50%;

        transform: translate(-50%, -50%);

        width: 106%;
        height: 104%;

        border-radius: 5px;
        background-color: rgba(248, 247, 244, 0.3);
        box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.15);
      }
    }

    &:hover .products__action {
      display: block;
    }

    &:hover .products__img,
    &:hover .products__title,
    &:hover .products__action,
    &:hover .products__link {
      z-index: 10;
    }

    &:hover .products__link-content {
      border-bottom: none;
    }
  }

  &__preview {
    position: relative;
  }

  &__img {
    width: 100%;
    height: auto;
    max-width: 267px;
    max-height: 267px;

    border-radius: 50%;
    z-index: 50;

    &::before {
      content: '';
      position: absolute;

      top: 0;
      left: 0;

      width: 61px;
      height: 61px;
      @include break(1040px, max) {
        width: 51px;
        height: 51px;
      }

      border-radius: 50%;
      background-color: #fff;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 61 61'%3E%3Ccircle fill='%23FFF' cx='30.5' cy='30.5' r='30.5'/%3E%3Cg fill='%23231F20'%3E%3Cpath d='M19.985 18.27c-.915 2.683-1.718 5.384-2.472 8.094-.543-2.863-.921-5.756-.958-8.715-.005-.431-1.939-.11-1.932.518.052 4.243.8 8.354 1.747 12.432-1.196 4.58-2.311 9.18-3.579 13.771-.109.394 1.771.138 1.904-.344.902-3.265 1.726-6.535 2.556-9.8.805 3.204 1.644 6.407 2.273 9.657.098.508 2.041.045 1.932-.518-.864-4.462-2.12-8.836-3.146-13.247 1.068-4.086 2.202-8.157 3.578-12.191.124-.361-1.737-.145-1.903.343zM34.395 18.798c.049-1.047-1.919-.794-1.963.128-.004.08-.004.159-.008.238-.039.065-.084.128-.101.204-1.004 4.463-2.611 8.729-4.056 13.06-.644 1.93-1.139 3.898-1.666 5.856-.139-6.623-.135-13.237-.165-19.871-.005-1.042-1.965-.769-1.961.134.037 8.337.018 16.641.303 24.971a.644.644 0 0 0-.034.301l.064.445c.123.856 1.959.48 1.944-.317.005-.011.016-.018.021-.029 1.636-4.171 2.478-8.591 3.894-12.838.521-1.558 1.048-3.108 1.561-4.662-.071 5.987.058 11.969.211 17.961.026 1.012 1.58.771 1.91.065l.056-.119c.112-.239.088-.423-.015-.558-.211-8.333-.389-16.635.005-24.969zM47.32 17.66c-3.158.38-6.312.227-9.478.048-.491-.028-2.24.851-1.221.908 1.093.062 2.182.109 3.271.145-.093.081-.161.167-.157.265.295 8.408-1.054 17.239.191 25.564.063.424 2.01.005 1.932-.518-1.229-8.229.069-16.951-.185-25.27 1.776.012 3.551-.052 5.33-.266.857-.102 1.669-1.039.317-.876z'/%3E%3C/g%3E%3C/svg%3E");
      background-repeat: no-repeat;
    }
  }

  &__price {
    position: absolute;

    left: 0;
    bottom: 16px;

    z-index: 60;

    font-size: 45px;
    line-height: 45px;
    @include break(1040px, max) {
      font-size: 35px;
      line-height: 35px;
    }
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);

    &::before {
      content: '';
      position: absolute;

      left: 82px;
      bottom: 8px;

      z-index: 60;

      width: 31px;
      height: 36px;
      @include break(1040px, max) {
        left: 65px;
        bottom: 4px;

        width: 28px;
        height: 33px;
      }

      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 31 36'%3E%3Cpath fill='%23FFF' d='M11 21h7.451c5.247 0 9.5-4.253 9.5-9.5S23.698 2 18.451 2H6v14H2v5h4v3H2v5h4v4h5v-4h15v-5H11v-3zm0-14h7.451v-.03a4.53 4.53 0 0 1 0 9.06V16H11V7z'/%3E%3C/svg%3E");
    }

    & small {
      padding-left: 24px;
      font-size: 30px;
      @include break(1040px, max) {
        font-size: 25px;
      }
    }
  }

  &__title {
    margin: 0;
    margin-top: 15px;

    width: 100%;
    max-width: 267px;

    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    z-index: 60;
  }

  &__link {
    color: $text-light;
    z-index: 60;

    &:hover,
    &:focus,
    &:active {
      color: #ffbc9e;
    }

    &:hover .products__link-content,
    &:focus .products__link-content,
    &:active .products__link-content {
      border-bottom: 1px solid rgba(255, 189, 158, 0.3);
    }
  }

  &__link-content {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }

  &__btn {
    @include break(1040px, max) {
      font-size: 17px;
    }
  }

  &__action {
    display: none;
    position: absolute;

    bottom: 10px;
    left: 0;

    width: 100%;

    z-index: 60;
    text-align: center;
  }

  &--top {
    margin-bottom: 20px;

    &:hover {
      margin-bottom: -48px;
    }
  }
}

.hits {
  @include break(896px, max) {
    justify-content: space-around;
  }
  @include break(660px, max) {
    justify-content: space-between;
  }
  @include break(556px, max) {
    justify-content: center;
  }

  .products__item {
    @include break(896px, max) {
      max-width: 287px;
    }
    @include break(598px, max) {
      max-width: 267px;
    }
  }

  .products__preview {
    @include break(896px, max) {
      padding: 0 10px;
    }

    @include break(598px, max) {
      padding: 0;
    }
  }

  .products__img {
    &::before {
      @include break(896px, max) {
        width: 61px;
        height: 61px;
      }
    }
  }

  .products__price {
    @include break(896px, max) {
      font-size: 45px;
      line-height: 45px;
    }

    & small {
      @include break(896px, max) {
        font-size: 30px;
      }
    }

    &::before {
      @include break(896px, max) {
        left: 82px;
        bottom: 8px;

        width: 31px;
        height: 36px;
      }
    }
  }

  .products__title {
    @include break(896px, max) {
      padding: 0 10px;
    }

    @include break(598px, max) {
      padding: 0;
    }
  }

  .products__btn {
    @include break(896px, max) {
      font-size: 18px;
    }
  }
}
