.menu-button {
  display: none;

  @include break(710px, max) {
    display: inline-block;
    position: relative;
    z-index: 199;
    margin: 0 rem(10px);
    padding: 0;
    width: 1.25em;
    height: 1em;
    border: none;
    text-indent: 1.25em;
    font-size: 1.5em;
    color: transparent;
    background: transparent;
    outline: none;

    &::before {
      position: absolute;
      top: -0.2em;
      right: 0;
      bottom: 0.2em;
      left: 0;
      background: linear-gradient(#ffffff 20%, transparent 20%, transparent 40%, #fff 40%, #fff 60%, transparent 60%, transparent 80%, #fff 80%);
      content: '';
    }

    &:hover {
      opacity: 0.6;
    }
  }
}

.close-button {
  display: none;

  @include break(710px, max) {
    display: inline-block;
    width: 24px;
    height: 24px;
    position: fixed;
    left: 245px;
    top: 1em;
    overflow: hidden;
    border: none;
    z-index: 1001;
    background: transparent;
    color: transparent;
    outline: none;

    &::before,
    &::after {
      content: '';
      position: absolute;
      width: 2px;
      height: 100%;
      top: 0;
      left: 50%;
      background: #888;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }
}

.menu-wrap a {
  color: #b8b7ad;
}

.menu-wrap a:hover,
.menu-wrap a:focus {
  color: #c94e50;
}

.menu-wrap {
  display: none;

  @include break(710px, max) {
    display: block;
    position: fixed;
    z-index: 1001;
    width: 280px;
    height: 100vh;
    font-size: 1.15em;
    transform: translate3d(-280px, 0, 0);
    transition: transform 0.4s;
  }
}

.main-menu {
  display: none;

  @include break(710px, max) {
    display: block;
    position: relative;
    z-index: 1000;
    padding: 3em 2em 0;
  }
}

.main-menu,
.close-button {
  opacity: 0;
  transform: translate3d(-160px, 0, 0);
  transition: opacity 0s 0.3s, transform 0s 0.3s;
  transition-timing-function: cubic-bezier(.17, .67, .1, 1.27);
}

/* Morph Shape */
.morph-shape {
  display: none;
}

.morph-shape--show {
  display: block;
  position: fixed;
  width: 280px;
  height: 100vh;
  top: 0;
  left: 0;
  fill: #242738;
  z-index: 260;
}

/* Shown menu */
.show-menu .menu-wrap {
  transition-delay: 0s;
}

.show-menu .menu-wrap,
.show-menu .main-menu,
.show-menu .close-button,
.show-menu .morph-shape {
  transform: translate3d(0, 0, 0);
}

.show-menu .main-menu,
.show-menu .close-button {
  opacity: 1;
  transition: opacity 0.3s, transform 0.3s;
  transition-delay: 0.4s;
}
