.widgets-wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;

  margin-bottom: rem(38px);
}

.news {
  flex-grow: 0;
  flex-shrink: 1;
  width: 48.8%;
  padding: rem(25px) rem(20px);

  min-height: 220px;

  background-color: #fff;
  background-image: url('../img/bitmaps/strawberry-bg.jpg');
  background-repeat: no-repeat;
  background-position: 30% 50%;

  @include break(1100px, max) {
    background-position: 5% 50%;
  }

  @include break(852px, max) {
    width: 36%;
    background-position: 35% 50%;
  }

  @include break(682px, max) {
    width: 100%;
    margin-bottom: rem(20px);
  }

  background-size: cover;
  border-radius: 10px;
  overflow: hidden;

  &__title {
    font-size: rem(16px);
    font-weight: 500;
    line-height: em(22px, 16);
    color: $text-dark;
  }

  &__link {
    display: inline-block;
    max-width: 60%;
    font-size: rem(24px);
    line-height: em(30px, 24);
    color: $text-dark;

    &:hover,
    &:focus,
    &:active {
      color: $btn-bg;
    }

    &:hover &-content,
    &:focus &-content,
    &:active &-content {
      border-bottom: 2px solid rgba(236, 89, 60, 0.3);
    }
  }

  &__link-content {
    border-bottom: 2px solid #000;
  }
}

.newsletter {
  position: relative;
  flex-grow: 0;
  flex-shrink: 1;
  width: 48.8%;

  @include break(852px, max) {
    width: 61%;
  }

  @include break(682px, max) {
    width: 100%;
  }

  min-height: 220px;

  padding: rem(30px) rem(20px) rem(35px);

  background-image: repeating-linear-gradient(-45deg, #fe9e90 5px, #fe9e90 10px, #f8f7f4 10px, #f8f7f4 15px, #92cdff 15px, #92cdff 20px, #f8f7f4 20px, #f8f7f4 25px);
  border-radius: 10px;
  overflow: hidden;
  z-index: 1;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    margin: rem(5px) rem(7px);
    border-radius: inherit;
    background-color: $modal-bg;
  }

  &__content {
    position: relative;
    font-weight: 400;
    color: #5a5a5a;
    z-index: 3;
  }

  &__form {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    z-index: 3;
  }

  input {
    flex: 1 1 auto;

    margin-right: rem(10px);

    @include break(415px, max) {
      margin-right: 0;
    }

    min-width: 210px;

    &:hover {
      transition: all 0.01s ease('out-cubic');
    }
  }

  &__btn {
    flex: 0 1 auto;
    padding-left: rem(19px);
    padding-right: rem(19px);

    @include break(415px, max) {
      width: 100%;
      margin-top: rem(20px);
    }
  }
}
